<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhoneWords.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E200070C1E38FC3C008D8358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E25338AD180920BA00870CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E25338D1180920BA00870CC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2610B401E3902610038C33E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
